{block menu}
	<nav>
		<ul>
			<li><a href="{$basePath}">Home</a></li>
			<li><a href="{$basePath}/persons">Persons list</a></li>
			<li><a href="{$basePath}/location">Locations</a></li>
			{if $_SESSION['token']}
				<li><a href="{link logout}">Logout</a></li>
			{else}
				<li><a href="{link login}">Login</a></li>
			{/if}

		</ul>
	</nav>
{/block menu}